body{
    font-family: 'Lato',sans-serif;
    margin: 0;
}

h1{
    margin: 0;
}

ul, ol{
    list-style: none;
    text-decoration: none;
}

.barr{
    border-radius: 50px;
}
ul li{
    display: inline;
    margin-right: 10px;
    color: white;
}
ul{
    display: inline;
    margin: 0px;
    position: relative;
    right: -50%;
}

nav{
    padding: 30px;
    background-color: grey;
}

.fas{
    font-size: 50px;
    color: orange;
}

li a:hover {
    transition: all 1s ease-in-out 0.2s;
    color: blue;
    font-size: 20px;
    
}

li a{
    color: white;
    list-style: none;
    text-decoration: none;
}

main div:first-child h1{
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}